body {
  background-color: #1e1e1e;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.1vw;
  padding: 3vw 0;
}

.wrapper {
  width: 50vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  align-items: center;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
}

.btnContainer button {
  padding: 0.5vw 1vw;
  width: max-content;
  border-radius: 0.75rem;
  background-color: rgba(4, 195, 255, 0.35);
  border-color: rgba(4, 195, 255, 1);
  color: white;
  font-size: 2rem;
  border-width: 0.2vw;
  box-shadow: 0px 4px 4px rgba(4, 195, 255, 0.25);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.btnContainer button:hover {
  box-shadow: 0px 6px 8px rgba(4, 195, 255, 0.35);
}

.btnContainer button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.btnContainer .lookingLet {
  width: 20vw;
  padding: 0.2vw;
  border-radius: 0.5rem;
  border-color: lightgrey;
  border-width: 0.2vw;
  font-size: 2rem;
  outline: none;
}

input::-webkit-file-upload-button {
  padding: 0.5vw 1vw;
  width: max-content;
  border-radius: 0.75rem;
  background-color: rgba(4, 195, 255, 0.35);
  border-color: rgba(4, 195, 255, 1);
  color: white;
  font-size: 2rem;
  border-width: 0.2vw;
  box-shadow: 0px 4px 4px rgba(4, 195, 255, 0.25);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  margin-right: 2vw;
}

.inpFile {
  font-size: 2rem;
}

.resultText {
  width: 50vw;
  height: 30vw;
  font-size: 2rem;
  padding: 1vw 2vw;
}

.barList {
  display: flex;
  flex-direction: column;
  align-items: start;
}
h1 {
  color: white;
}
