.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1vw;
  width: 100%;
}

.barLabel {
  color: white;
  font-size: 3rem;
  margin-right: 1vw;
  width: 150px;
  text-align: right;
  white-space: nowrap;
}

.bar {
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 0 1vw;
  box-sizing: border-box;
}
